<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
    <h1>Add a new book</h1>
    <form method="post">
        <div>
            <label for="isbn_13">ISBN-13</label>
            <input id="isbn_13" type="text" name="isbn_13" />
        </div>
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="title" />
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>