{% extends "base.html" %}
{% block title %}Add a new book{% endblock %}
{% block content %}
    <form method="post">
        <div>
            <label for="isbn_13">ISBN-13</label>
            <input id="isbn_13" type="text" name="isbn_13" />
        </div>
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="title" />
        </div>
        <div>
            <button type="submit">Add</button>
            <button type="reset">Reset</button>
        </div>
    </form>
{% endblock %}